.about-us-section1 {
    width: 100%;
    height: 586px;
    background-image: url("../img/aboutusfirstImage.png");
    background-size: cover;
    background-position: center;
}

.section-content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
}

.section-title {
    width: 278px;
    height: 75px;
    left: 149px;
    top: 352px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 62px;
    line-height: 75px;
    margin: 0 auto;
}

.section2-about-us {
    padding: 50px 0;
}

.container-about-us {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}

.text-container-about-us {
    flex-basis: 50%;
    padding-right: 30px;

}

.container-about-us h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}

.container-about-us p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: justify;
    text-transform: capitalize;
}

.image-container-about-us img {
    width: 521px;
    height: 360px;
}

.section3-about-us {
    padding: 50px 0;
}

.container-about-us2 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}

.text-container-about-us2 {
    flex-basis: 50%;
    padding-right: 30px;

}

.container-about-us2 h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}

.container-about-us2 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: justify;
    text-transform: capitalize;
}

.image-container-about-us2 img {
    width: 521px;
    height: 700px;
}
.card4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7px;

}

.card4 .card-image4 {
    width: 100%;
    height: 100%;
}

.card4 .card-image4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section4_h1{
 text-align: center;
}
