.contact-section1 {
    width: 100%;
    height: 586px;
    background-image: url("../img/contactfirstImage.png");
    background-size: cover;
    background-position: center;
}

.section-content {
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}

.section-title {
    width: 478px;
    height: 75px;
    left: 149px;
    top: 352px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 62px;
    line-height: 75px;
    margin: 0 auto;
}

.section-subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    text-transform: capitalize;

}

.section-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
}

.card h3 {
    color: black;
}

.contact-section2 {
    position: relative;
    margin: 10px;
}

.section-content2 {
    text-align: center;
    color: black;
    margin-top: 180px;

}

.card {
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}