
.img-fluid{
  padding-right: 10%;
  margin-right: 3%;
}

.my-form {
  margin-right: 5%;
}
.navbar {
  /* margin-right: 3%; */
  position: relative;
  left: -25px;
  width: 100%;
}
.row {
  margin-right: 2%;
}

@media (min-width: 992px) {
  .custom-navbar {
    display: none;
  }

}
