.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    top: 0;
    background-color: transparent;
    transition: background-color 0.5s ease;
  
  }
  .orange-border {
    border: 2px solid orange;
    padding: 10px 15px;
    border-radius: 5px;
    color: orange !important;
  }
  
  .login-signup {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    color: orange !important;
  }
  .orange-border:hover {
    background-color: #ff6f00;
    color: white !important;
    transition: background-color 0.3s ease-in-out; 
}
  
  .login-signup li {
    margin-left: 10px;
  }
  
  .header.visible {
    background-color: #333;
  }
  
  .header.visible .logo,
  .header.visible .nav-links a {
    color: white;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-right: 80px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 500px;
  }
  
  .nav-links li {
    margin: 0 10px;
    font-size: 20px;
  }
  
  .nav-links a {
    font-size: 25px;
    text-decoration: none;
    color: black;
  }
  
  @media (max-width: 768px) {
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
    }
  
    .logo {
      font-size: 24px;
      margin: 0;
    }
  
    .nav-links {
      margin-top: 20px;
    }
  
    .nav-links li {
      margin: 10px, 0;
    }
  
    .nav-links a {
      font-size: 16px;
    }
  }