.image-container {
    background-image: url("../img/firstImage.png");
    background-size: cover;
    width: 100%;
    height: 686px;
    position: relative;
}
.section-content {
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}

.section-title {
    width: 1078px;
    height: 75px;
    left: 149px;
    top: 352px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 62px;
    line-height: 75px;
    margin: 0 auto;
}
.title{
    text-align: center;
}

.image-container2{
    width: fit-content;
    margin: 0 auto;
    margin-top: 40px;
}
.college-logo{
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    
}