.image-container {
    background-image: url("../img/firstImage.png");
    background-size: cover;
    width: 100%;
    height: 686px;
    position: relative;
}

.cta-container {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
    max-width: 500px;
}

.cta-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.cta-description {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.signup-button {
    background-color: purple;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
}



.section2 {
    background-color: #f2f2f2;
    padding: 50px 0;
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 150px;
}

.image-container2 {
    width: 503px;
    height: 600px;
    overflow: hidden;
}

.image-container2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container2 {
    width: calc(100% - 503px - 50px);
    max-width: 600px;
}

.section2 h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section2 p {
    font-size: 24px;
    line-height: 1.5;
    color: #555;
}

.section3 {
    background-image: url("../img/backgroundImage.png");
    background-size: cover;
    height: 600px;
}

.section3_inside {

    display: flex;
    justify-content: center;
    align-items: center;
}

.section3_h1 {
    text-align: center;
    color: white;
    padding-top: 50px;
}

.container3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: white;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    object-fit: scale-down;
}

.card h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
}

.section4 {
    background-color: #f7f7f7;
    padding: 80px 0;
    margin-top: 40px;
}

.container2 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container3 {
    width: 45%;
}

.text-container3 h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.text-container3 p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.read-more-button {
    background-color: transparent;
    border: 2px solid #ff6f00;
    color: #ff6f00;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.read-more-button:hover {
    background-color: #ff6f00;
    color: #fff;
}

.image-container3 img {
    width: 636px;
    height: 600px;
}