/* .firstSection{
   
    background-size: 'cover';
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-black-minimalist-atmospheric-wooden-background-backgroundwooden-backgroundtree-texture-image_77053.jpg);
} */


.registration-form1 {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;

  }
  
  .form-group1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 90%;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
  }
  
  .loginButton {
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    background-color: orangered;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 94%;
    margin-top: 10px;
    margin-left: 18px;
  }
  
  .loginButton:hover {
    background-color: orange;
  }
  p{
    font-weight: lighter;
  }
  
  @media (max-width: 768px) {
    .registration-form {
      padding: 10px;
    }
  }
  