#sidebar-wrapper {
  height: 100vh;
  overflow-y: auto;
  background-color: black;
  margin: 0;
  padding: 0;
  margin-right: 20%;
  overflow-y: auto;
}
.sidebar-container.expanded {
  width: 300px; /* Set the desired width of the sidebar */
}
.nav-link {
  /* margin-bottom: 10px; */
  border: none;
  padding: 20px 20px;
}


.img {
  height: 20%;
  width: 20%;
}
.list-group-item.active {
  border-color: transparent;
}


.nav-link {
  padding: 10px 15px;
  margin-bottom: 10px;
}

.sidebar-icon {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .navCollaps {
      width: 80px;
  }
  .navCollaps .nav-option h3 {
      display: none;
  }
  .navCollaps .nav-option {
      padding: 28px;
  }
  .smallDeviceIcon {
      display: none;
  }
  
}

@media screen and (max-width: 767px) {
  .largeDeviceIcon {
      display: none;
  }
  .sidebar-container {
      display: none;
  }
  .smallNav {
      display: block;
  }
  .logo h2 {
      display: none;
  }

}